<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link href="{% static 'css/carrusel.css' %}" rel="stylesheet">
</head>
<body>
    <div class="logonombre">
    <img class="logoimage" src="imagen/Logo.jpg" alt="">
    <h1>Noticias en su hogar</h1>
    </div>

    <div class="barra">
        <div class="contenedor clearfix">
            <nav class="navegacion clearfix">
                <a href="index.html">Inicio</a>
                <a href="categorias.html">Categorias</a>
                <a href="quienes-somos.html">Quienes Somos</a>
                <a href="contacto.html">Contactos</a>
            </nav>
        </div>
    </div>

    <center><h1>Contactanos</h1></center>

    <main class="contenedor seccion contenido-centrado">
        <form class="contacto" action="">
            <legend><h3>Información Personal</h3></legend>
            <label for="name">Nombre: </label>
            <input type="text" id="name" placeholder="Tú Nombre" required>
    
            <label for="email">E-mail: </label>
            <input type="email" id="email" placeholder="Tú Correo electrónico" required>
    
            <label for="telefono">Teléfono: </label>
            <input type="tel" id="telefono" placeholder="Tú Teléfono" required>
    
            <label for="message">Mensaje: </label>
            <textarea id="message"></textarea>
    
            <button class="button button-contacto" type="submit">Enviar</button>
    
        </fieldset>
        </form>
    </main>
    

    <footer >
        <div class="footer">
            <img src="imagen/Logo.jpg" alt="">
            <p class="footerp">Todos los derechos reservados</p>
        </div>
    <script src="js/jquery.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>